In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/Ct/T10K_p0.9_q0.5_alpha1.0_sample10K.csv')
df.head()

   t        Ct
0  1  1.000000
1  2  0.950050
2  3  0.918867
3  4  0.897000
4  5  0.879440

In [3]:
plt.loglog(df['t'], df['Ct'])
plt.savefig('figs/Ct.png')
plt.close()

figs/Ct.pngの表示
![Ct.png](figs/Ct.png)

In [4]:
df = pd.read_csv('../data/Ct/T10K_p0.9_q0.5_alpha0.0_sample10K.csv')
df.head()

   t        Ct
0  1  1.000000
1  2  0.949851
2  3  0.917984
3  4  0.893526
4  5  0.876485

In [5]:
plt.plot(df['t'], df['Ct'])
plt.yscale('log')
plt.savefig('figs/Ct_a_0.png')
plt.close()

![Ct_a_0.png](figs/Ct_a_0.png)