In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('../data/Ct/T10K_p0.9_q0.5_alpha1.0_sample10K.csv')
df.head()

   t        Ct
0  1  1.000000
1  2  0.947700
2  3  0.913567
3  4  0.889900
4  5  0.871560

In [14]:
plt.loglog(df['t'], df['Ct'])
plt.savefig('figs/Ct.png')
plt.close()

figs/Ct.pngの表示
![Ct.png](figs/Ct.png)